<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Information Systems Engineer</h1>
            <span>Universidad Tecnológica Nacional - FR Mendoza</span>
            <span><a href="http://www.frm.utn.edu.ar/index.php?option=com_content&view=article&id=84&Itemid=114">+Info</a></span>
            <span><img src="{{ site.baseurl }}static/assets/images/utn.jpg" width="50%%" height="50%%" ></span>
            <br/>
            <span><address>Mendoza, AR</address><time>2009 to 2018</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1>English</h1>
            <span>Instituto Cultural de Mendoza</span>
            <span>B1 equivalent</span>
            <span><address>Mendoza, AR</address><time>2007 to 2009</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1>German</h1>
            <span>Sociedad Goetheana de Mendoza</span>
            <span>B1 equivalent / ZD Zertifikat Deutsch</span>
            <span><address>Mendoza, AR</address><time>2009 to 2013</time></span>
        </header>
    </article>
</section>
