<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Python Odoo Developer / Full Stack Developer</h1>
            <span>Hospital Español de Mendoza<address>Mendoza, AR</address><time>2016 to Present</time></span>
        </header>
        <p>Projects:</p>
        <ul>
            <li>HCUD Health System</li>
            <li>Farmacia ERP System</li>
            <li>CAEA Tax Informer System</li>
            <li>Kronos Microservice Integration Engine</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>JAVA Spring Developer / Full Stack Developer</h1>
            <span>Midas Consultores SA<address>Mendoza, AR</address><time>2015 to 2016</time></span>
        </header>
        </ul>
    </article>
    <article>
        <header>
            <h1>JAVA Spring Developer</h1>
            <span>Concatel SII - CVT SA<address>Mendoza, AR</address><time>2014 to 2015</time></span>
        </header>
    </article>
</section>
