<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Python Odoo Developer / Full Stack Developer</h1>
            <span>Hospital Español de Mendoza<address>Mendoza, AR</address><time>2016 to Present</time></span>
        </header>
        <p>Projects:</p>
        <ul>
            <li>HCUD (Python/Odoo/React): Digital Unique Medical Record</li>
            <li>Farmacia (Python/Odoo): ERP, Stock and Sales for Pharmacy</li>
            <li>CAEA (Python/Odoo/SQL Server): Interface between Account System and Government Register</li>
            <li>Kronos (Python/Odoo/SQL Server): cross-platform interface engine between systems via API REST with a publisher/suscriber configuration.</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>JAVA Spring Developer / Full Stack Developer</h1>
            <span>Midas Consultores SA<address>Mendoza, AR</address><time>2015 to 2016</time></span>
            <p>Projects:</p>
        <ul>
            <li>ERP for motor-filter store (JAVA/Spring/JSP)</li>
            <li>Online gambling-roulette (JAVA/Spring/JavaScript/jQuery/JSP)</li>
        </ul>
        </header>
        </ul>
    </article>
    <article>
        <header>
            <h1>JAVA Spring Developer</h1>
            <span>Concatel SII - CVT SA<address>Mendoza, AR</address><time>2014 to 2015</time></span>
        <p>Projects:</p>
        <ul>
            <li>ServiceOne (Java/Spring/JSP): ERP for resources and incidents managment.</li>
        </ul>
        </header>
    </article>
</section>
