<section class="thirteen columns">
    <h1>Non work projects</h1>
    <article>
        <article>
            <header>
                <h1>ChangoSmart</h1>
                <span>Java/Spring/JavaScript/HTML5</span>
                <img src="{{ site.baseurl }}assets/images/changosmart.jpg" >
                <span>with Fernando Leiva, Lucas Aranda and Ignacio Fernandez.</span>
                            </header>

                <i>From original paper:</i>
                <p>
                    Our project proposal arises from a natural need to favor the daily economy of people. We observe that in spite of being in the era of communications and information at the moment, there is currently no system that suggests an efficient and beneficial way of acquiring the provisions of daily consumption.
We noticed that supermarkets offer offers continuously to their customers to tempt them to consume in their stores. These offers, besides being very difficult for customers to remember (since there are offers per card, per day of the week, per branch, etc.), are often deceptive and often act as a bait for the unsuspecting customer to save in the acquisition of a product, but overpay in the acquisition of another group of related products.
From this observation, Chango Smart was developed, which is a system that analyzes a database to calculate based on unit prices, benefits, discounts and distance to the trade, which is the most recommended supermarket to acquire a certain list of products. Added to this base is the active participation of users, who can load prices and products easily, either through the web or a Smartphone, thus promoting the updating and reliability of the information.
In this work we find an investigation of existing softwares, with evaluations focused on their strengths. Subsequently, and taking into account those positive points, the development of Chango Smart is detailed.
To conclude, we can say that Chango Smart is an integral, technological, innovative and realistic solution to the aforementioned problem, and, at the same time, that this software is friendly and of great value to users when making their daily purchases in supermarkets.

                </p>
                <!--<span><address>British RedCross, Glasgow, UK</address><time>2013</time></span>-->
            <!--<p>-->
            <!--Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.-->
            <!--</p>-->
        </article>
        <header>
            <h1>Android Development</h1>
            <!--<span><address>University of Glasgow, UK</address><time>2013</time></span>-->
        </header>
        <!--<p>-->
        <!--Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.-->
        <!--</p>-->
    </article>

</section>