<section class="thirteen columns">
    <h1>Non work projects</h1>
    <article>
        <header>
            <h1>ChangoSmart</h1>
            <span>Java/Spring/JavaScript/HTML5</span>
            <span>with Fernando Leiva, Lucas Aranda and Ignacio Fernandez.</span>
        </header>
        <center>
            <img src="{{ site.baseurl }}static/assets/images/changosmart.png" width="30%%" height="30%%">
        </center>

        <i>From original paper:</i>
        <p>
            Our project proposal arises from a natural need to favor the daily economy of people. We observe that in
            spite of being in the era of communications and information at the moment, there is currently no system
            that suggests an efficient and beneficial way of acquiring the provisions of daily consumption.
            We noticed that supermarkets offer offers continuously to their customers to tempt them to consume in
            their stores. These offers, besides being very difficult for customers to remember (since there are
            offers per card, per day of the week, per branch, etc.), are often deceptive and often act as a bait for
            the unsuspecting customer to save in the acquisition of a product, but overpay in the acquisition of
            another group of related products.
            From this observation, Chango Smart was developed, which is a system that analyzes a database to
            calculate based on unit prices, benefits, discounts and distance to the trade, which is the most
            recommended supermarket to acquire a certain list of products. Added to this base is the active
            participation of users, who can load prices and products easily, either through the web or a Smartphone,
            thus promoting the updating and reliability of the information.
            In this work we find an investigation of existing softwares, with evaluations focused on their
            strengths. Subsequently, and taking into account those positive points, the development of Chango Smart
            is detailed.
            To conclude, we can say that Chango Smart is an integral, technological, innovative and realistic
            solution to the aforementioned problem, and, at the same time, that this software is friendly and of
            great value to users when making their daily purchases in supermarkets.

        </p>
    </article>
    <article>
        <header>
            <h1>Mortgage Credit Simulator</h1>
            <span>Angular2</span>
        </header>
        <center>
            <img src="{{ site.baseurl }}static/assets/images/procear.png" width="30%%" height="30%%">
        </center>

        <p>
            A simple simulator based on Argentina's Procrear Credit Program. This indicates how much credit do you need
            depending on your first capital amount.

        </p>
    </article>

    <article>
        <header>
            <h1>Simple Poll for incidents</h1>
            <span>React</span>
        </header>
        <center>
            <img src="{{ site.baseurl }}static/assets/images/reporte incidentes.png" width="30%%" height="30%%">
            <img src="{{ site.baseurl }}static/assets/images/reporte_incidentes_2.png" width="30%%" height="30%%">
        </center>

        <p>
            A simple poll front-end based on React. Design for a hospital that need everybody could report an incident
            (OMS List) anonymously, and be saved in the back-end system.

        </p>
    </article>

</section>