<section class="thirteen columns">
    <h1>Profesional Goals</h1>
    <article>
        <ul>
            <li>Improve my knowledge and skills, both technicals and human</li>
            <li>Improve my salary</li>
            <li>Discover new paradigms</li>
            <li>Perform my own ideas and company projects</li>
            <li>Achieve OpenSource projects</li>
        </ul>
    </article>
    <h1>Hobbies</h1>
    <article>
        <p>Music, Read Dev.To, Travelling, Cycling, Gaming, Read Newspapers, Economy (Stock Exchange).</p>
    </article>
</section>